 body {
     background-color: lightblue;

 }

 nav {
     text-transform: capitalize;
     font-family: 'Josefin Sans', sans-serif;

 }

 .nav-link {
     opacity: 0.7;
 }

 .nav-link:hover {
     opacity: 0.7;
     background-color: grey
 }

 header {
     background-image: url("https://worldvisits.files.wordpress.com/2014/07/incredible-photo-of-sunrise-over-manhattan-new-york.jpg");
     text-align: center;
     height: 600px;
     width: 100%;
     background-size: cover;
 }

 header p {
     font-style: italic;
 }
 .services i{
     font-size: 60px; 
     padding: 25px 20px;
 }
 
 