 body {
     background-color: lightblue;

 }

 nav {
     text-transform: capitalize;
     font-family: 'Josefin Sans', sans-serif;

 }

 .nav-link {
     opacity: 0.7;
 }

 .nav-link:hover {
     opacity: 0.7;
     background-color: grey
 }

 header {
     background-image: url("NYC.jpg");
     text-align: center;
     height: 600px;
     width: 100%;
     background-size: cover;
 }

 header p {
     font-style: italic;
 }
 .services i{
     font-size: 30px; 
     padding: 25px 20px;
     color: #fff;
     background-color: blue;
     width: 80px;
     height: 80px;
     /*changes the roundness of the container*/
     border-radius: 50%; 
     
}

 .services span{ 
     width: 200px;
     display: inline-block;
    border-radius: 50%; 
   
 }
 .services {
  text-align: center
 }


 .clients i{
     font-size: 30px; 
     padding: 25px 20px;
     color: #fff;
     background-color: purple;
     width: 80px;
     height: 80px;
     /*changes the roundness of the container*/
     border-radius: 100%; 
      display: inline-block;
      text-align: center;
 }
 .clients {
  text-align: center;
 }
 .services span{ 
     width: 200px;
     display: inline-block;
    border-radius: 0%; 
 }
 .pricing {
  margin-bottom: .5rem
 }
.col {
 border: 1px solid;
 height: 70px;
}
.contacts .input-group {
  margin-bottom: 50px;
 
}
.contacts i {
 padding: 17px;
 text align:center 
}